i[class^="sgdf-picto-"], i[class*=" sgdf-picto-"] {
   font-family: sgdf-pictos !important;
   font-style: normal;
   font-weight: normal !important;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.sgdf-picto-couleur-commun::before {
   color: #003a5d !important;
}

.sgdf-picto-couleur-compagnons::before {
   color: #007254 !important;
}

.sgdf-picto-couleur-farfadets {
   color: #65bc99 !important;
}

.sgdf-picto-couleur-pionniers-caravelles {
   color: #d03f15 !important;
}

.sgdf-picto-couleur-scouts-guides {
   color: #0077b3 !important;
}

.sgdf-picto-couleur-louveteaux-jeannettes {
   color: #ff8300 !important;
}

.sgdf-picto-couleur-violets::before {
   color: #485bb5 !important;
}

.sgdf-picto-couleur-audace::before {
   color: #6e74aa !important;
}
